body{
    margin: 0;
    padding: 0;
    background-color: #e4e3e3;
    font-family : sans-serif;
}
.main-wrapper{
    width: 100%;
    height: 100%;
}
.main-heading-container{
    width: 100%;
    padding: 6rem 0;
    background-color: #204051;
}
.main-heading{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 5rem;
  letter-spacing: 5px;
}
.projects-container{
    width: 70%;
    margin: auto;
}
.all-projects-heading-container{
    padding: 3.5rem 0 ;
}
.all-projects-heading{
    text-align: center;
    color: #000;
    text-transform: capitalize;
    font-size: 4rem ;
    letter-spacing: 8px;
}
.projects-container{
    padding: 3rem 0;
}
.projects-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}
.project-image{
    width: 100%;
}
.grid-item{
    background-color: #fff;
    cursor: pointer;
    -webkit-box-shadow: -2px 6px 11px -4px rgba(0,0,0,0.68);
    -moz-box-shadow: -2px 6px 11px -4px rgba(0,0,0,0.68);
    box-shadow: -2px 6px 11px -4px rgba(0,0,0,0.68);
    transition-timing-function: linear;
    transition-duration: 200ms;
}
.grid-item:hover{
    transform: scale(1.02);
    -webkit-box-shadow: -1px 7px 24px -5px rgba(0,0,0,0.68);
-moz-box-shadow: -1px 7px 24px -5px rgba(0,0,0,0.68);
box-shadow: -1px 7px 24px -5px rgba(0,0,0,0.68);
}
.link-container{
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
}
.source-code-link{
  background-color: #3b6978 ; 
  color: #fff ;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 5px;
  padding: 1rem;
}
.preview-link{
    background-color: #84a9ac ; 
    color: #fff ;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 5px;
    padding: 1rem;
}

@media(max-width : 980px){
    .projects-grid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 3rem;
    }
}